Repository jacoblindev/ai-pair-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-lint, file-size

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: md-lint
        name: Markdown lint (basic)
        entry: bash scripts/md_lint.sh
        language: system
        files: \.md$
      - id: file-size
        name: File size check
        entry: bash scripts/check_file_sizes.sh
        language: system
        files: ^(src|app|lib|server|client|scripts)/
      - id: deps-check
        name: Dependency check
        entry: bash scripts/check_deps.sh
        language: system
        pass_filenames: false

fix(license): correct formatting and update copyright year in LICENSE file
  LICENSE
Due: none

refactor: remove deprecated CI workflows, pre-commit hooks, and related scripts; streamline documentation for clarity and conciseness
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  configs/.aidev.yml
  configs/deps-allowlist.json
  configs/deps-blocklist.json
  docs/EXAMPLES/commit-log-example.md
  docs/EXAMPLES/prd-dark-mode.md
  docs/EXAMPLES/tasks-prd-dark-mode.md
  docs/FEEDBACK-LOOP.md
  docs/LITE-PATH.md
  docs/PARALLEL-WORKFLOWS.md
  docs/QUICKSTART.md
  docs/STACK-INTEGRATIONS.md
  rules/create-prd.md
  rules/generate-tasks.md
  rules/process-task-list.md
  scripts/check_complexity_stub.sh
  scripts/check_deps.sh
  scripts/check_file_sizes.sh
  scripts/guardrails.sh
  scripts/md_lint.sh
  scripts/scan_repo.sh
  templates/ADR-0001-template.md
  templates/ARCH.md
  templates/MINI-PRD.md
Due: md-lint, file-size

refactor(docs): update AGENTS.md, create-prd.md, generate-tasks.md, and process-task-list.md for clarity and consistency; enhance guidance on architecture and task management
  AGENTS.md
  rules/create-prd.md
  rules/generate-tasks.md
  rules/process-task-list.md
Due: md-lint

feat(docs): enhance AGENTS.md, README.md, and related files for improved clarity and structure; introduce new architecture and task management guidelines
  AGENTS.md
  README.md
  docs/adr/ADR-0001-architecture-style.md
  docs/architecture/ARCH-v1.md
  docs/prd/sample-feature/v1/prd.md
  docs/tasks/sample-feature/v1/tasks.md
  rules/create-prd.md
  rules/generate-tasks.md
  rules/process-task-list.md
Due: md-lint

refactor(docs): standardize front matter and section headers in architecture and PRD documents for consistency
  docs/adr/ADR-0001-architecture-style.md
  docs/architecture/ARCH-v1.md
  docs/prd/sample-feature/v1/prd.md
  docs/tasks/sample-feature/v1/tasks.md
Due: md-lint

feat(docs): expand AGENTS.md and README.md with detailed user manual and agent checklist for improved workflow clarity
  AGENTS.md
  README.md
Due: md-lint

refactor(docs): update README.md for clarity and consistency; enhance workflow and user manual sections
  README.md
Due: md-lint

feat: add .gitignore to exclude temporary files and system files
  .gitignore
Due: none

docs: add reader assumptions to create PRD for clarity and guidance
  rules/create-prd.md
Due: md-lint

refactor(docs): update AGENTS.md, README.md, create-prd.md, generate-tasks.md, and process-task-list.md for clarity, consistency, and improved workflow guidance
  AGENTS.md
  README.md
  rules/create-prd.md
  rules/generate-tasks.md
  rules/process-task-list.md
Due: md-lint

feat(docs): add foundational architecture documentation, templates, and portfolio log for improved project structure and clarity
  docs/arch/foundation/ARCH-v1.md
  docs/arch/index.md
  docs/portfolio/log.md
  docs/prd/sample-feature-v1.md
  docs/tasks/sample-feature-v1.md
  docs/tasks/sample-feature/v1/tasks.md
  docs/templates/arch-template-v1.md
  docs/templates/portfolio-log-entry.md
  docs/templates/prd-template-v1.md
  docs/templates/tasks-template-v1.md
Due: md-lint

refactor(docs): update architecture, PRD, portfolio log, and tasks templates for consistency and clarity
  docs/templates/arch-template-v1.md
  docs/templates/portfolio-log-entry.md
  docs/templates/prd-template-v1.md
  docs/templates/tasks-template-v1.md
Due: md-lint

refactor(docs): streamline README.md for clarity and improved workflow understanding
  README.md
Due: md-lint

refactor(docs): enhance AGENTS.md, TEMPLATE.md, create-prd.md, generate-tasks.md, and process-task-list.md with metadata and handoff guidelines for improved clarity and workflow continuity
  AGENTS.md
  docs/handoff/TEMPLATE.md
  rules/create-prd.md
  rules/generate-tasks.md
  rules/process-task-list.md
Due: md-lint
